---
import Sidebar from "@/components/layout/Sidebar.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import type { HeadProps } from "@/types";

type Props = HeadProps;

const head = Astro.props;
---

<BaseLayout {...head}>
  <div
    class="relative flex h-[calc(100vh-1rem)] w-full flex-col overflow-hidden rounded-2xl border border-border bg-card shadow-main md:h-[calc(100vh-2rem)] md:flex-row"
  >
    <Sidebar />

    <main class="custom-scrollbar flex-1 overflow-x-hidden overflow-y-auto">
      <slot />
    </main>
  </div>
</BaseLayout>
